*{
    font-family: "Arial, Lucida, Impact, Times New Roman, Courier New, Tahoma, Comic Sans, Verdana, Georgia, Garamond, sans-sans-serif";
    /* background-color: rgb(31, 28, 28); */
    /* color: white; */
}
html {
  width:  96%;
  height: 96%;
  align-items: center;
  background-color: rgba(2.5,5,2.5,1);
  color: white;
  margin: 2% 2%;

}
.resume{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
}

.personalProfile{
  flex-basis: 30%;
  padding-right: 5%;
}

.careerProfile{
  flex-basis: 65%;
}

.jobInfoMisc{
    float: left;
    font-size: small;
}

.jobDuration{
    padding-left: 10%;
    float: left;
}

.location{
    float: right;
}

.jobDetails{
    padding-top: 10%;
}
