*{
    font-family: "Arial, Lucida, Impact, Courier New, Tahoma, Comic Sans, Verdana, Georgia, Garamond, sans-sans-serif";
    /* background-color: rgb(31, 28, 28); */
    /* color: white; */
    font-size: large;

}


html{
  color:white;
  background-color: rgba(2.5,5,2.5,1);
  width: 96vw;
  height: 96vh;
  margin: 2vh 2vw;
}

p{
    text-align: center;
}

a{
  color: yellow !important;
  font-size: small;
}

.navigation{
  grid-area: navigationVar;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation > a{
  right: 0;
  font-weight: bold;
  text-decoration: none;
  font-size: large;

}

h1{
  text-align: center;
  font-size: 2rem;
}


.contactForm{
  grid-area: contactFormVar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.resume{
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.1fr;
  grid-template-rows:  0.2fr 0.3fr 0.5fr;
  align-items: stretch;
  grid-template-areas: ". navigationVar navigationVar"
                        ". . ."
                        ". contactFormVar .";
}


.field {
  margin: 5%;
  font-size: large;

}

.field:last-child{
  text-align: center;
}

input, textarea{
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


button{
  background-image: linear-gradient(to right, rgb(51, 57, 51), rgb(10,15,10));
  color: white !important;
  align-self: flex-end;
}
