*{
    font-family: "Arial, Lucida, Impact, Courier New, Tahoma, Comic Sans, Verdana, Georgia, Garamond, sans-sans-serif";
    /* background-color: rgb(31, 28, 28); */
    color: white;

}

a{
  color: yellow;
  text-transform: uppercase;
  font-size: small;
}

html{
  color:white;
  background-color: rgba(2.5,5,2.5,1);
  width: 96vw;
  height: 96vh;
  margin: 2vh 2vw;

}

.personalProfile{
    grid-area: personalProfileVar;
    /* background-image: linear-gradient(to right, rgb(51, 57, 51), rgb(10,15,10)); */
}

.navigation{
  grid-area: navigationVar;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation > a{
  /* right: 0; */
  font-weight: bold;
  text-decoration: none;
  font-size: large;

}

.comapanyName{
  grid-area: comapanyNameVar;
}

.resume{
  display: grid;
  grid-template-columns: 0.05fr 0.25fr 0.05fr 0.7fr 0.05fr;
  grid-template-rows:  0.02fr 0.16fr 0.16fr 0.5fr 0.1fr;
  grid-template-areas:  ". navigationVar navigationVar navigationVar ."
                        " . personalProfileVar . comapanyNameVar . "
                        " . personalProfileVar . keyTechnologiesVar . "
                        " . personalProfileVar . careerProfileVar . "
                        " . personalProfileVar . . . ";
}

.careerProfile{
  grid-area: careerProfileVar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.jobDetails{
  border-bottom: 0.5px solid black;
  background-image: linear-gradient(to right, rgb(51, 57, 51), rgb(10,15,10));
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.jobDetails:not(:first-child){
  align-self: center;
}

.jobInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.keyTechnologies{
  grid-area: keyTechnologiesVar;
}

.keyTechologiesList{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  list-style: none;
  justify-content: center;
}

.keyTechologiesList > li{
  color: yellow;
}

ul.keyTechologiesList > li:before{
  content: "#";
  float: left;
}

.jobRole > ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}


li{
  margin: 0.5%;
  /* background-image: linear-gradient(red, orange); */
}

h3{
   border-bottom: 2px solid white;
   padding: 1px;
   /* padding-top: 5%; */
}
