*{
    font-family: "Arial, Lucida, Impact, Times New Roman, Courier New, Tahoma, Comic Sans, Verdana, Georgia, Garamond, sans-sans-serif";
    /* background-color: rgb(31, 28, 28); */
    /* color: white; */
}

html{
  overflow:hidden;
  width:  96%;
  height: 96%;
  scroll:yes;
  font-size: 1rem;

}
#name{
  font-size:7vw;
}

#profession{
  font-size:5vw;
}

.personalProfileDetails{
  display: flex;
  flex-direction: column;
  /* align-items: center;[] */
  /* justify-content: space-between; */
  /* align-items: stretch; */
  color: white;
}



.contanctDetails{
    padding-top: 20%;
}

.careerProfile{
    padding-left: 5%;
    width: 60%;

}
.workExperience, .educationDetails{
    padding-left: 5%;
}

.about{

    height: 30%;;
    text-align: center;
    font-size: small;
    display: flex;
    flex-direction: column;

}

/* .personalDetails{
  align-items: center;
  border: 1px solid gold;

} */

 td{

  text-align: left;
  padding-left: 10%;
  font-size: 0.8rem;
  width: 30%;
  height: 30%;
  /* margin: 0; */
  /* font-size: small; */
}

.profilePicImage{
    width: 30%;
    height: 30%;
    border-radius: 50%;

}

.skillLinks{
    height: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profileInner{
    padding-bottom: 4%;
    border-bottom: 0.5px solid black;
    background-image: linear-gradient(to right, rgb(51, 57, 51), rgb(10,15,10));
    border-radius: 5px;
    /* margin-top: 5%; */
    margin-bottom: 10%;
}

#socialProfiles{
    padding: 3% 0.5% 3% 0.5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "linkedin github leetcode"; */
}

.socialProfileImages{
    width: 57px;
    height: 57px;
    border-radius: 60%;
    padding-right: 5%;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
    object-fit: cover;

    /* width:57%;
    height:57%;
    border-radius: 50%; */

}

.skills{

    padding-top:5%;
}

ul{
  list-style: none;
  padding:0;
  margin: 0;
}

li{
  margin: 5% 2%;
}
