.contanctDetails{
    padding-top: 20%;
}

.careerProfile{
    padding-left: 5%;
    width: 60%;

}
.workExperience, .educationDetails{
    padding-left: 5%;
}

.about{

    height: 30%;;
    align-items: center;
    font-size: small;
}

.profilePicImage{
    width: 100px;
    height: 100px;
    padding-left: 20%;
    border-radius: 70%;

}

.skillLinks{
    height: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profileInner{
    padding-bottom: 4%;
    border-bottom: 0.5px solid black;
}

#socialProfiles{
    padding: 3% 0.5% 3% 0.5%;
}

.socialProfileImages{
    width: 57px;
    height: 57px;
    border-radius: 60%;
    padding-right: 5%;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
    object-fit: cover;

}

.skills{

    padding-top:5%;
}
