
*{
    font-family: "Arial, Lucida, Impact, Courier New, Tahoma, Comic Sans, Verdana, Georgia, Garamond, sans-sans-serif";
    /* background-color: rgb(31, 28, 28); */
    /* color: white; */
}

a{
  color: yellow;
  text-transform: uppercase;
  font-size: small;
}
html {
    width:  300mm;
    height: 297mm;
    /* margin-left: 2%; */
    align-items: center;
}

#logoImage{
    width: 3px;
    height: 3px;
    border-radius: 0.2px;
}

.resume{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.personalProfile{
    /* width: 30%; */
    padding-bottom: 10%;
    align-items: center;
    padding-right: 5%;
    flex-basis: 30%;
}

.careerProfile{
  flex-basis: 65%;
}

.careerTiles{
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  width: 100%;
  justify-content: flex-start;

}

.office{
  flex-basis: 30%;
  background-color: rgb(51, 57, 51);
  margin-right: 2%;
  margin-bottom: 2%;
  color: white;
  text-align: center;
}

.publicationTiles{

  display: flex;
  justify-content: flex-start;
  flex-wrap: no-wrap;
  flex-direction: column;

}

.publication{

  flex-basis: 100%;
  display: flex;
  flex-direction: column;

}

.publishInfo{
  float: left;
  /* margin-right: 60%; */
}
.publishDate{
  float: right;
  padding-right: 40%;
}


 h3{
    border-bottom: 2px solid black;
    /* padding-top: 5%; */
}

code{

    border-radius: 25px / 30px;
    border: 1px solid rgb(230, 13, 13);
    background-color: rgb(243, 220, 220);
}
