
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(31, 28, 28); */
    /* color: white; */
}

html {
    width:  210mm;
    height: 297mm;
    margin-left: 2%;
}

#logoImage{
    width: 3px;
    height: 3px;
    border-radius: 0.2px;
}

#contactInfo{
    list-style-type:none;
    padding-top: 10%;
}

.resume{
    width: 100%;
    height: 100%;
}

.personalProfile{
    width: 30%;
    padding-bottom: 10%;
    align-items: center;
}


.contanctDetails{
    padding-top: 20%;
}

.careerProfile{
    padding-left: 5%;
    width: 60%;

}
.workExperience, .educationDetails{
    padding-left: 5%;
}

.profile{
    float: left;
}

.about{

    height: 30%;;
    align-items: center;
    font-size: small;
}
.profilePicImage{
    width: 100px;
    height: 100px;
    padding-left: 20%;
    border-radius: 70%;

}


.skillLinks{
    height: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.profileInner{
    padding-bottom: 4%;
    border-bottom: 0.5px solid black;
}

#socialProfiles{
    padding: 3% 0.5% 3% 0.5%;
}

.socialProfileImages{
    width: 57px;
    height: 57px;
    border-radius: 60%;
    padding-right: 5%;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
    object-fit: cover;

}

.skills{

    padding-top:5%;
}


.office{
  float: left;
  padding-right: 2%
}

.experienceAt{
    border-bottom: 0.5px solid black;
    margin-right:20%;
}

.eduInfoMisc{
    float: left;
    font-size: small;
}

.eduPercentage{
    padding-left: 5%;
}

 h3{
    border-bottom: 2px solid black;
    padding-top: 5%;
}

code{

    border-radius: 25px / 30px;
    border: 1px solid rgb(230, 13, 13);
    background-color: rgb(243, 220, 220);
}
