
*{
    font-family: "Arial, Lucida, Impact, Times New Roman, Courier New, Tahoma, Comic Sans, Verdana, Georgia, Garamond, sans-sans-serif";
    /* background-color: rgb(31, 28, 28); */
    /* color: white; */
}

html {
    width:  300mm;
    height: 297mm;
    /* margin-left: 2%; */
    align-items: center;
}

#logoImage{
    width: 3px;
    height: 3px;
    border-radius: 0.2px;
}

.resume{
    width: 100%;
    height: 100%;
}


.profile{
    float: left;
}

.personalProfile{
    width: 30%;
    padding-bottom: 10%;
    align-items: center;
    padding-right: 5%;
}

.office{
  float: left;
  /* padding-right: 2% */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* margin-right: 1%; */
  height: 200px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  font-size: small;

  /* padding-left: auto;
  padding-right: auto; */
}

.office > h4{
    text-align: center;
}
.linkToCareerDetails{

  position: relative;
  bottom: 0;
  margin-bottom: : 10px;
}
.experienceAt{
    border-bottom: 0.5px solid black;
    margin-right:20%;
}

.eduInfoMisc{
    float: left;
    font-size: small;
}

.eduPercentage{
    padding-left: 5%;
}

 h3{
    border-bottom: 2px solid black;
    padding-top: 5%;
}

code{

    border-radius: 25px / 30px;
    border: 1px solid rgb(230, 13, 13);
    background-color: rgb(243, 220, 220);
}
